.products {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.drop-down{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch;
    width: 150px;
    left: 770px;
}
