* {
    margin: 0;
    box-sizing: border-box;
}
.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(4, 247, 255));
    background-repeat: no-repeat;
    
}
.cover {
    background-color: white;
    width: 70%;
    height: 50%;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 3px 25px rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.textLogin {
    font-size: 40px;
}
.back{
    font-size: large;
    font-style: italic;
    position: relative;
    bottom: 0.5%;
}
.login-btn {
    width: 40%;
    height: 55px;
    background-color: rgb(0, 255, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover { transform: scale(1.25);}

input {
    border: none;
    background-color: rgb(237, 237, 237);
    width: 80%;
    border-radius: 15px;
    text-align: left;
    padding: 30px;
    font-size: 15px;
}

input:focus {
    outline-color: rgb(5, 149, 227);
}
.text {
    position: relative;
    bottom: 0.5%;
}
.hide {
    position: absolute;
    transform: scale(0);
}
.alt-login{
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-around
}
.icon {
    width: 120%;
    height: 140%;
    background-image: url(../assets/images/greenwich.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.login-popup {
    position: absolute;
    border-radius: 5px;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 100, 100);
    color: white;
    bottom: 10;
    border-radius: 50px;
    transform: scale(1);
    transition: 1s;
}

@media only screen and (min-device-width: 1024px) {
    .page {
        font-size: 15px;
    }
    .cover {
        width: 28%;
        height: 70%;
    }
}