.form {
    background: #fff;
    border: 2px solid #d3d3d3;
    border-radius: .5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding: 1em;
    text-align: left;
    width: 600px;
    box-shadow: 20px 20px 50px #d3d3d3;
}
.form {
    padding: 1em;
}
   
.label {
    font-weight: 600;
}
.login-btn{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #007bff;
    border: none;
    color: #fff;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
}